<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<h2>Lugares Cercanos</h2>
<button mat-raised-button [routerLink]="['/crear']" routerLinkActive="router-link-active" >Click me!</button>

<mat-list>
  <ng-container *ngFor="let lugar of lugares">
    <a routerLink="/detalles/{{lugar.id}}" [queryParams]="{action: 'view'}">
      <mat-list-item *ngIf="lugar.active">{{lugar.nombre}}</mat-list-item>
    </a>
  </ng-container>
</mat-list>
<!-- <span>Breakpoint: {{grid.cols}}</span>
<mat-grid-list #grid rowHeight="2:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
  <mat-grid-tile>5</mat-grid-tile>
  <mat-grid-tile>6</mat-grid-tile>
  <mat-grid-tile>7</mat-grid-tile>
  <mat-grid-tile>8</mat-grid-tile>
</mat-grid-list> -->
<hr>
<!-- <div class="bounds">
  <mat-grid-list class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <mat-grid-tile fxFlex="15" class="sec1" fxFlex.xs="55">1</mat-grid-tile>
    <mat-grid-tile fxFlex="30" class="sec2">2</mat-grid-tile>
    <mat-grid-tile fxFlex="55" class="sec3" fxFlex.xs="15">3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
    <mat-grid-tile>6</mat-grid-tile>
    <mat-grid-tile>7</mat-grid-tile>
    <mat-grid-tile>8</mat-grid-tile>
  </mat-grid-list>
</div> -->
<mat-card class="card-demo">
  <mat-card-title>Responsive Layout Directions</mat-card-title>
  <mat-card-subtitle>Layout direction changes to 'column' for 'xs' or 'sm' viewport sizes:
  </mat-card-subtitle>
  <mat-card-content>
    <div class="containerX">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex
           class="coloredContainerX box">
        <div fxFlex> I'm above on mobile, and to the left on larger devices.</div>
        <div fxFlex> I'm below on mobile, and to the right on larger devices.</div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer style="width:95%">
    <!-- <media-query-status></media-query-status> -->
  </mat-card-footer>
</mat-card>
<hr>
<div class="bounds">
  <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <div fxFlex="15" class="sec1" fxFlex.xs="55">
      first-section
    </div>
    <div fxFlex="30" class="sec2">
      second-section
    </div>
    <div fxFlex="55" class="sec3" fxFlex.xs="15">
      third-section
    </div>
  </div>
</div>
<!-- <mat-list>
  <ng-container *ngFor="let lugar of lugares; let i = index" [ngSwitch]="lugar.cercania">
    <a>
      <mat-list-item appContarClicks [ngStyle]="{'color': (lugar.active) ? 'black' : 'red'}" [ngClass]="{'numeroPar': (i + 1) % 2 !== 0}"
        [appResaltar]="lugar.plan">
        {{lugar.nombre}} - &nbsp;
        <span *ngSwitchCase='1' [ngStyle]="{'color': 'green'}">Inmediato</span>
        <span *ngSwitchCase='2' [ngStyle]="{'color': 'black'}">Cerca</span>
        <span *ngSwitchCase='3' [ngStyle]="{'color': 'red'}">Lejos</span>
      </mat-list-item>
    </a>
  </ng-container>
</mat-list>-->