@import "~@angular/material/prebuilt-themes/indigo-pink.css";

app-main-navigation, app-dashboard-template {
  width: 100%;
}
agm-map {
    height: 300px;
}

.numeroPar {
    background-color: aliceblue;
    color: blue
}

.numeroImpar {
    background-color: grey;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content-margin {
    margin-left: 30px;
    margin-right: 30px;
}

.button-row button {
    margin-right: 8px;

}

.form-container .mat-radio-button {
    margin: 0 5px;
  }
